
body {
  line-height: 2;
  font-family: 'Raleway', sans-serif;
  color: black;
  background: #F7F7F7;
}

.logo{
  margin: 3em;
}
.oridoudou{
  font-family: 'Finger Paint', cursive;
  text-align: center;
  font-size: 4em;
}
header{
  text-decoration: underline;
}

.navbar ul{
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  align-content: center;
  font-size: 1.5em;
  background-color: rgb(242 233 240);
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a, a:focus, a:hover {
  text-decoration: none;
  color: #000;
}

.slider h2 {
  font-family: 'Finger Paint', cursive;
  white-space: normal;
  font-size: 39px;
  color: white;
  letter-spacing: -2px;
  margin-left: 2em;
}

.slider-item {
  text-align: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.slider-item::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: .5;
  z-index: -1;
  top: 0;
  left: 0;
}

.slider-item .container {
  position: relative;
  display: table;
  max-width: 1170px;
  height: 500px;
}

.btn {
  font-size: 15px;
  font-weight: 400;
  color: white;
  letter-spacing: 1px;
  border-color: white;
  border-style: solid;
  border-width: 2px;
  outline: none;
  box-shadow: #999999 0px 0px 0px 0px;
  box-sizing: border-box;
  padding: 12px 26px;
  opacity: 1;
}
.btn:hover{
  color: black;
  background-color: white;
}
footer
{
  background-color: rgb(242 233 240);
  padding: 50px 0;
}

.social-media{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 2em;
}

.copyright-text {
  text-align: center;
  margin-top: 50px;
  font-size: 16px;
}

#produits{
display: flex;
flex-direction: row;
justify-content: center;
flex-wrap: wrap;
padding: 2em;
}

.teddy-1{
  box-shadow: 0px 2px 5px #F2F2F2;
  background-color: rgb(242 233 240);
  border-color: #F2F2F2;
  width: 300px;
  height: 450px;
  border-radius: 0.5em;
  margin: 3em;
}

.teddy-1-img{
width: auto;
height: 300px;
border-top-left-radius: 0.5em;
border-top-right-radius: 0.5em;
object-fit: cover;
}

.teddy-1-name{
  font-size: 1.25em;
  margin-top: -0.5em;
  font-weight:bolder;
  text-align: center;
}

.teddy-1-price{
  font-size: 1.25em;
  margin-top: -1em;
  text-align: center;
}

.button-voir {
  border-color: rgb(90 46 138);
  color: white;
  border-style: solid;
  border-width: 2px;
  padding: 12px 26px;
  background-color:rgb(90 46 138);
  font-weight: bold;
  margin-left: 2em;
  margin-bottom: 1em;
}
.detail{
  margin-top: -27em;
  margin-bottom: 6em;
  margin-left: 28em;
}

.teddy-image{
  object-fit: cover;
  width: auto;
  height: 400px;
  box-shadow: 0px 2px 5px #F2F2F2;
  border-radius: 2em;
  margin-left: 2em;
  margin-top: 2em;
}
.teddy-name{
  font-weight:bolder;
  font-size: 2.5em;
  margin-top: 1em;
}

.teddy-price{
  font-weight:bolder;
  font-size: 2em;
  margin-top: 1em;
}

.teddy-description{
  overflow-wrap: break-word;
  width: 400px;
  font-size: 20px;
}
#form
{
  margin-top: 2em;
  font-weight: bold;
}

#quantity{
  padding: 10px;
  font-size: 1em;
}

.button-panier {
  border-color: rgb(90 46 138);
  color: white;
  border-style: solid;
  border-width: 2px;
  padding: 15px 45px;
  background-color: rgb(90 46 138);
  font-weight: bold;
  margin-left: 2em;
  margin-bottom: 1em;
  font-size: 1em;
}
body {
  line-height: 2;
  font-family: 'Raleway', sans-serif;
  color: black;
}

.button {
  border-color: rgb(90 46 138);
  color: white;
  border-style: solid;
  border-width: 2px;
  padding: 12px 26px;
  background-color:rgb(90 46 138);
  font-weight: bold;
}

.checkout{
  margin-top: 3em;
  margin-bottom: 1em;
  margin-left: -25em;
}

.person, .choix, .total{
  font-size: 1.2em;
}
.info{
  font-weight: bolder;
  font-size: 1.7em;
}
.information input{
  height: 40px;
  width: 400px;
  padding-left: 1em;
  margin-bottom: 1em;
}
.nom{
  margin-left: 6em;
  -webkit-margin-start: 5.7em;
}
.prenom{
  margin-left: 3.7em;
  -webkit-margin-start: 3.7em;
}
.adresse{
  margin-left: 3.5em;
}
.code{
  margin-left: 0.5em;
  -webkit-margin-start: 1em;
}
.ville{
  margin-left: 6.6em;
  -webkit-margin-start: 6em;
}
.email{
  margin-left: 5.75em;
  -webkit-margin-start: 5.2em;
}
.produit{
  margin-left: 4em;
}
.quantité{
  margin-left: 3.7em;
}
.prix{
  margin-left: 7.5em;
  -webkit-margin-start: 6.8em;
}
.valider {
  border-color: rgb(90 46 138);
  color: white;
  border-style: solid;
  border-width: 2px;
  padding: 20px 26px;
  padding-bottom: 35px;
  background-color:rgb(90 46 138);
  font-weight: bold;
  font-size: 1.5em;
  width: 200px;
}
.valider:hover {
  text-decoration: none;
  color: #000;
}

iframe {
  width: 640px;
  height: 450px;
}
.menu-2{
  display: none;
}
.confirmation { 
  font-size: 30px;
  text-align: center;
}
@media only screen and (min-width: 656px) and (max-width: 1000px) {
  .teddy-image{
    height: 300px;
  }
  .detail{
    margin-top: -21em;
    margin-left: 22em;
    margin-bottom: 3em;
  }
  .teddy-name{
    font-size: 1.5em;
  }
  
  .teddy-price{
    font-size: 1.5em;
  }
  
  .teddy-description{
    font-size: 15px;
  }
  #form
  {
    margin-top: 1.5em;
  }
}

@media only screen and (min-width: 450px) and (max-width: 655px) {
  .information input{
    width: 300px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 655px) {
  iframe{
    width: 100%;
    height: 450px;
  }
  .logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -0.25em;
  }
  .menu-2{
    display: contents;
  }
  .navbar{
    display: none;
  }
  nav{
    width: 100%;
    margin: 0 auto;
    background-color: white;
    top: 0px;
  }
  .conteneur-nav{
    position: absolute;
    width: 100%;
  }
  nav input[type=checkbox]{
    display: none;
  }
  nav label{
    display: inline-block;
    width: 100%;
    padding: 10px 0px;
    text-align: center;
    background-color: rgb(242 233 240);
    font-size: 1.5em;
  }
  nav ul{
    display: none;
    list-style-type: none;
  }
  nav input[type=checkbox]:checked + ul{
    display: flex;
    flex-flow : column wrap;
  }
  nav ul li{
    flex: 1 1 auto;
    text-align: center;
  }
  nav > div > ul > li > a{
    color: white;
  }
  nav a{
    display: block;
    text-decoration: none;
    color: black;
    padding: 10px 0px;
  }

  .sous li{
    flex: 1 1 auto;
    text-align: left;
  }
  .sous a{
    padding: 10px;
    color: black;
  }
 
  .slider h2 {
    font-size: 30px;
    margin-left: 0.5em;
  }
  .oridoudou{
    font-size: 3.3em;
  }
  .copyright-text{
    font-size: 12px;
  }
  .information input{
    width: 300px;
  }
  .qtity, #qtity  {
    margin-left: 0em;
  }

  .checkout{
    margin-top: 3em;
    margin-bottom: 1em;
    margin-left: 0em;
  }
  .confirmation { 
    font-size: 20px;
  }
  .detail{
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 1em;
  }
  
  .teddy-image{
    text-align: center;
    width: 300px;
    margin-left: 0em;
  }
  .teddy-name{
    font-size: 2em;
  }
  
  .teddy-price{
    font-size: 1.75em;
  }
  
  .teddy-description{
    font-size: 15px;
  }

  .button-panier {
    margin-left: 1em;
    margin-bottom: 2em;
    margin-top: 2em;
  }
}

@media only screen and (min-width: 320px) and (max-width: 450px) {
  .information input{
    width: 200px;
  }
  label{
    font-size: 0.8em;
  }
  .nom{
    margin-left: 5em;
  }
  .prenom{
    margin-left: 3.2em;
    -webkit-margin-start: 3.5em ;
  }
  .adresse{
    margin-left: 3.2em;
    -webkit-margin-start: 3.4em;
  }
  .code{
    margin-left: 0.8em;
    -webkit-margin-start: 1.3em;
  }
  .ville{
    margin-left: 5.8em;
    -webkit-margin-start: 5.4em;
  }
  .email{
    margin-left: 5.1em;
    -webkit-margin-start: 4.7em;
  }
  .produit{
    margin-left: 2em;
  }
  .quantité{
    margin-left: 1.7em;
    -webkit-margin-start: 1.9em;
  }
  .prix{
    margin-left: 4.7em;
    -webkit-margin-start: 4.4em;
  }
}